Source: ros-jazzy-easynav-fusion-localizer
Section: misc
Priority: optional
Maintainer: Miguel Ángel de Miguel <miguelangel.demgiuel@urjc.es>
Build-Depends: debhelper (>= 9.0.0), libgeographiclib-dev, ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-angles, ros-jazzy-easynav-common, ros-jazzy-easynav-core, ros-jazzy-easynav-localizer, ros-jazzy-geographic-msgs, ros-jazzy-pluginlib, ros-jazzy-rclcpp, ros-jazzy-rclcpp-lifecycle, ros-jazzy-robot-localization, ros-jazzy-robot-localization <!nocheck>, ros-jazzy-std-srvs, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-easynav-fusion-localizer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgeographiclib-dev, ros-jazzy-angles, ros-jazzy-easynav-common, ros-jazzy-easynav-core, ros-jazzy-easynav-localizer, ros-jazzy-geographic-msgs, ros-jazzy-pluginlib, ros-jazzy-rclcpp, ros-jazzy-rclcpp-lifecycle, ros-jazzy-robot-localization, ros-jazzy-std-srvs, ros-jazzy-ros-workspace
Description: Easy Navigation: Fusion Localizer package.
